<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="P1">
            <div class="col-sm-12 col-md-6 col-lg-6 parte1">
                <h3>Practica Maquetación Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quam corrupti ratione corporis. Tempora dolorem, distinctio omnis eius totam repellat saepe, vel aliquam expedita maxime in sequi quae rem facilis?
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/practica_maquetacion.png" class="img-fluid img-proyecto">
            </div>
        </div>

        <div class="P2">
            <div class="col-sm-12 col-md-4 col-lg-4 parte2">
                <img src="../../../assets/practica_flex.png" class="img-fluid img-proyecto">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 parte1">
                <h3>Practica Contenedores Flex</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor doloremque eos, possimus neque, adipisci fugiat fuga enim qui voluptates repudiandae ea impedit quidem odio. At non dolore facere qui numquam.</p>
            </div>
        </div>
    </div>
</div>
