<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/html5.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#be6bb9'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
        <h5>HTML 5</h5>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#be6bb9'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
        <h5>CSS 3</h5>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/python.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#be6bb9'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
        <h5>PYTHON</h5>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/equipo.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#be6bb9'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
        <h5>TRABAJO EN EQUIPO</h5>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/ingles.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#be6bb9'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
        <h5>INGLÉS</h5>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/tiempo.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#be6bb9'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
        <h5>MANEJO DEL TIEMPO</h5>
    </div>
</div>
